@use "../SASS/Main" as *;


.dark_mode{
    position: relative;
    @include circle(45px);
    border: none;
    cursor: pointer;
}

.sun{
    @include center ;
    @include icon-Bold(20px, $orange-6); 

}
.moon{
    @include center ;   
}

