@use "../SASS/Main" as *;


.dark_mode{
    position: relative;
    @include circle(35px);
    border: none;
    cursor: pointer;
}
.day{
    background-color: $orange-5;
}
.night{
    background-color: $gray-2;
}
.sun{
    @include center ;
    @include circle(30px);
    border: none;
}
.moon{
    @include center ;   
    @include circle(30px);
    border: none;
}

