@use "../../SASS/Main" as *;


.showPage{
    @include size(700px , 100vh);
    @include flex(start, center);
}

@media (max-width: 992px){
    .showPage{
        @include size(calc(80% - 75px), 100vh);
        @include flex(center, start);
        margin: 20px 0 20px 80px;
        border-radius: 8px;
    }
}

@media (max-width: 420px){
    .showPage{
        @include size(100%, 100%);
        min-height: 100%;
        @include flex(start, start);
        margin: 0;
        margin-top: 10px;
    }
}