@use "../../SASS/Main" as *;

.contact{
    position: absolute;    
    @include size(100% , 87vh);
    background-color: yellow;
    padding: 10px 0;    
    transition: 1s;
    }
    
    
    @media (max-width: 992px){
        .contact{
            position: relative;  
            @include size(calc(100% - 82px) , 100%); 
            margin-top: 10px;   
            scroll-margin-top: 10px;
            min-height: 1500px;
            border-radius: 5px;
            padding: 15px 10px;
            overflow-y: visible;   
        }
    }
    
    
    @media (max-width: 420px){
        .contact{
            @include size(100%  , 100%);   
            scroll-margin-top: 170px;
        }
    }