@use "../../SASS/Main" as *;

.AllHome {
  position: relative;
  @include size(100%, 100%);
  @include flex(start, center);
  z-index: 1000;
}
.home {
  @include size(calc(100% - 75px), 100%);
  margin-left: 10px;
  background-color:  var(--bg-color) ;
  border-radius: 5px;
  position: relative;
}
.avatar1 {
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  @include size(100%, 60%);
  border-radius: 5px;
}
.home .inform-ryan h1 {
  color: var(--text-color);
  text-align: center;
}
.home .inform-ryan h6 {
  color: var(--bg-second-color);
  text-align: center;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 8px;
}
.home .social {
  @include flex(center, center);
  gap: 15px;
  color: var(--text-color);
  margin-top: 15px;
}
.home .social .icon {
  font-size: 18px;
}
.home .Footer-home {
  position: absolute;
  bottom: 0;
  left: 0;
  @include size(100%, 60px);
  @include flex(space-evenly, center);
}
.home .Footer-home div {
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  @include size(100%, 100%);
  @include flex(center, center);
  border-top: 1px solid  var(--border-color);
}
.home .Footer-home div:nth-child(1) {
  border-right: 1px solid var(--border-color);
}

// screen mobile
@media (max-width: 992px) {
  .AllHome {
    position: relative;
    @include size(100%, 100%);
    @include flex(end, end);
    padding: 40px 50px 0;
    z-index: 1000;
  }
  .home {
    position: relative;
    @include size(calc(100% - 95px), 100%);
    border-radius: 5px;
  }
}
@media (max-width: 420px) {
  .AllHome {
    @include flex(start, start);
    @include size(100%, calc(100vh - 150px));
    padding: 0px;
  }
  .home {
    position: relative;
    @include size(100%, 100%); 
    margin-left: 0px;
  }
  .avatar1 {
    @include size(100%, 55%);
  }
  .home .Footer-home {
    position: absolute;
    bottom: 0;
    left: 0;
    @include size(100%, 60px);
  }
  
  }
