@use "../../SASS/Main" as *;

.AllHome {
  @include size(700px, 90vh);
  @include flex(end, START);
}
.home {
  @include size(calc(80% - 75px), 100%);
  margin-left: 10px;
  background-color:  var(--bg-color) ;
  border-radius: 8px;
  position: relative;
}
.avatar1 {
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  @include size(100%, 60%);
  border-radius: 5px;
}
.home .inform-ryan h1 {
  color: var(--text-color);
  text-align: center;
}
.home .inform-ryan h6 {
  color: var(--bg-second-color);
  text-align: center;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 8px;
}
.home .social {
  @include flex(center, center);
  gap: 15px;
  color: var(--text-color);
  margin-top: 15px;
}
.home .social .icon {
  font-size: 18px;
}
.home .Footer-home {
  position: absolute;
  bottom: 0;
  left: 0;
  @include size(100%, 60px);
  @include flex(space-evenly, center);
}
.home .Footer-home div {
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  @include size(100%, 100%);
  @include flex(center, center);
  border-top: 1px solid  var(--border-color);
}
.home .Footer-home div:nth-child(1) {
  border-right: 1px solid var(--border-color);
}

// screen mobile
@media (max-width: 992px) {
  .AllHome {
      @include size(100%, 70%);
      @include flex(center, start);
      padding-top: 20px;
  }
  .home {
    @include size(calc(80% - 75px), 100%);    
    margin-left: 80px;
  }
}
@media (max-width: 420px) {
    .AllHome {
        @include size(100vw ,100%);
        @include flex-col(start, center);
        padding: 0;
        margin: 0;
    }
    .home {
        @include size(100%, 100%);
        margin-left: 0px;
      }
  }
