@use "./SASS/Main" as * ;



:root{
    --bg-main-color: #{$blue-8};
    --bg-second-color: #{$cyan-4};

    --text-color-letter : #{$cyan-4};
    --bg-text-letter : #{$cyan-0};

    --bg-text-word: #{$cyan-4};
    --bg-color : white;
    --text-color : #{$gray-8};
    --text-color-li: white ;
    --text-color-p:#{$gray-7};

    --icon-color : #{$gray-8};
    --border-color : #{$gray-3};

    --date-color : #{$gray-6};
    
}

[data-theme="dark"]{
    --bg-main-color: #{$blue-8};
    --bg-second-color: #{$cyan-4};

    --text-color-letter : #{$cyan-4};
    --bg-text-letter : #{$gray-7};

    --bg-text-word: #{$cyan-4};
    --bg-color :  #{$gray-8};
    --text-color-li :  #{$gray-8};
    --text-color :white;

    --text-color-p: white;

    --icon-color : #{$blue-0};
    --border-color : #{$gray-7};

    --date-color : #{$gray-6};
}




.bg-icon{
    @include circle(60px);
    @include flex(center,center);
    margin-bottom: 10px;
    border: none;
    background-color: var(--bg-text-word);
    padding: 15px;
}
.icon{
    font-size: 35px;
    fill: white;
}



.active{
    color:  var(--bg-text-word);
}
.noActive{
    color: var(--text-color);;
}
.open{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;   
    z-index: 1; 
}
.close{        
    transform: translateX(-480px);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}


@media (max-width:992px) {
    .about,.resumes,
    .ProjectPage,.blog,
    .contact,.product{
        transform: translateX(0);
        visibility: visible;
        opacity: 1;      
        z-index: 1; 
    }
}