@use "./SASS/Main" as * ;



:root{
    --bg-main-color: #{$blue-8};
    --bg-second-color: #{$cyan-4};

    --text-color-letter : #{$cyan-4};
    --bg-text-letter : #{$cyan-0};

    --bg-text-word: #{$cyan-4};
    --bg-color : white;
    --text-color : #{$gray-8};
    --text-color-li: white ;
    --text-color-p:#{$gray-7};

    --icon-color : #{$gray-8};
    --border-color : #{$gray-3};

    
}

[data-theme="dark"]{
    --bg-main-color: #{$blue-8};
    --bg-second-color: #{$cyan-4};

    --text-color-letter : #{$cyan-4};
    --bg-text-letter : #{$gray-7};

    --bg-text-word: #{$cyan-4};
    --bg-color :  #{$gray-8};
    --text-color-li :  #{$gray-8};
    --text-color :white;

    --text-color-p: white;

    --icon-color : #{$blue-0};
    --border-color : #{$gray-7};
}
